/* google font  */
body{
    font-family: 'Poppins', sans-serif;
}
/* header styles  */
.header-container{
    display: flex;
    background-color: rgb(36, 31, 31);
    border-radius: 20px;
    margin: 30px 100px;
    margin-top: 50px;
    height: 556px;
}
.header-text{
    font-size: 80px;
}
.header-and-paragraph{
    width: 50%;
    margin-left: 100px;
    color: white;
}
.header-paragraph{
    margin-bottom: 50px;
}
.watch-live{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: red;
    border-radius: 4px;
    padding: 10px;
}
div img{
    width: 500px;
    margin-top: 30px;
    margin-right: 30px;
}
/* header style end  */

/* main body style  */
.seconde-container{
    display: flex;
}
.blogs-boss{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
}
.blog-box{
    flex-direction: column;
    margin-top: 100px;
    background-color: rgb(36, 31, 31);
    padding: 20px;
    margin-left: 100px;
    margin-right: 20px;
    width: 210px;
    height: 270px;
    border-radius: 10px;
}
#blog-link-bottom{
    background-color: red;
    color: white;   
}
.link-bottom{
    display: flex;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    width: 150px;
}
.player-image img{
    width: 270px;
    height: 100x;
}
.player-info p{
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100px;
    padding: 3px 4px;
}
.rating a{
    text-decoration: none;
    color: gray;
}
#comment-icon{
    margin-left: 20px;
}
/* main body style end  */